<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>推荐-一点配-时尚搭衣指南</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bbs.css">
</head>
<body>
	<div class="container">
		<div class="img-container">
			<img class="img-top" src="../static/images/bbs1.jpg">
			<div class="left">
				<img class="img-nether" src="../static/images/bbs2.jpg">
				<img class="img-nether" src="../static/images/bbs3.jpg">
			</div>
			<div class="right">
				<img class="img-nether" src="../static/images/bbs4.jpg">
				<img class="img-nether" src="../static/images/bbs5.jpg">
			</div>
		</div>
		<footer>
			<ul class="nav">
				<li><a href="index.html">主页</a></li>
				<li class="active"><a href="bbs.html">社区</a></li>
				<li><a href="#">衣柜</a></li>
				<li><a href="recommend.html">推荐</a></li>
			</ul>
		</footer>
	</div><!--container-->
<!-- <script type="text/javascript" src="../static/js/index.js"></script> -->
</body>
</html>