<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>推荐-一点配-时尚搭衣指南</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/recommend.css">
</head>
<body>
	<div class="container">
		<div class="text">
			<p>上衣：<input name="item1" value="长款雪纺翻领衬衫" /></p>
			<p>上衣：<input name="item2" value="长袖打底T恤" /></p>
			<p>裤子：<input name="item3" value="宽松简约直筒牛仔裤" /></p>
			<p>鞋子：<input name="item4" value="白底黑条纹休闲板鞋" /></p>
		</div>
		<img class="result_img" src="../static/images/output1.jpg">
		<button type="button">提交</button>
		<footer>
			<ul class="nav">
				<li><a href="index.html">主页</a></li>
				<li><a href="#">社区</a></li>
				<li><a href="#">衣柜</a></li>
				<li class="active"><a href="recommend.html">推荐</a></li>
			</ul>
		</footer>
	</div><!--container-->
<!-- <script type="text/javascript" src="../static/js/index.js"></script> -->
</body>
</html>