<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>注册-一点配-时尚搭衣指南</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/register.css">
</head>
<body>
	<div class="container">
	<h1>注&emsp;册</h1>
	<form method="post" action="userInfo.html">
		<p><span>用户名:</span><input name="userName" /></p>
		<p><span>密码:</span><input name="psw" id="psw1" type="password" /></p>
		<p><span>确认密码:</span><input  id="psw2" type="password" /></p>
		<button type="submit" name="submit">下一步</button>
	</form>	
	</div><!--container-->
</body>
</html>