<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户信息-一点配-时尚搭衣指南</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/userInfo.css">
</head>
<body>
	<div class="container">
	<h1>个人信息</h1>
	<form method="post" action="index.html">
		<p><span>身高:</span><input name="height" /></p>
		<p><span>体重:</span><input name="weight"/></p>
		<p><span>胸围:</span><input name="bust" /></p>
		<p><span>腰围:</span><input name="waistline" /></p>
		<p><span>臀围:</span><input name="hipline" /></p>
		<p><span>风格:</span><input name="style" /></p>
		<button type="submit" name="submit">下一步</button>
	</form>	
	</div><!--container-->
</body>
</html>